/* Reset default styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Base styles */
body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Navbar styles */
.navbar {
    background-color: #04AA6D;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.brand a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
}

.menu a {
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
    font-size: 18px;
    transition: color 0.3s ease;
}

.menu a:hover {
    color: #aaa;
}
/* General styles */

.content {
    flex: 1;
    background-color: #eee;
    padding: 2rem;
}

.report_button {
    background-color: #04AA6D;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 0 10px;
    cursor: pointer;
    font-size: 18px;
    height: 3rem;
    align-self: center;
}

/* Form styles */
.scans_container {
    display: flex;
    flex-direction: column;
}

.add_scan_container button[type="submit"] {
    display: block;
    margin: 0 auto;
}

.form_label {
    font-size: 1.3rem;
    margin-top: 1.5rem;
}

.form_textinput {
    display: inline-block;
    max-width: 16rem;
    margin: 0 10px;
    padding: 8px;
    border: 2px solid #fff;
    border-radius: 4px;
    font-size: 16px;
    box-shadow: none;
}

/* Checkbox styles */
.checkbox_group {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    gap: 0.3rem;
}

.checkbox_container {
    flex: 1;
    position: relative;
    padding-left: 3.5rem;
    padding-top: 0.2rem;
    margin-top: 1rem;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkbox_container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 1.5rem;
    width: 1.5rem;
    background-color: #04AA6D;
}

.checkbox_container .checkmark {
    position: absolute;
    top: 0;
    left: 1rem;
    height: 1.5rem;
    width: 1.5rem;
    background-color: #fff;
    border-radius: 4px;
}

.checkbox_container input:checked ~ .checkmark {
    background-color: #fff;
}

.checkbox_container input:checked ~ .checkmark:after {
    content: "";
    display: block;
    position: absolute;
    left: 0.5rem;
    top: 0.2rem;
    width: 0.3rem;
    height: 0.7rem;
    border: solid #04AA6D;
    border-width: 0 0.3rem 0.3rem 0;
    transform: rotate(45deg);
}


.details_header {
    display: flex;
    justify-content: space-between;
}

h1 {
    font-size: 24px;
    font-weight: bold;
    padding-top: 1rem;
}

.date {
    font-size: 14px;
    font-weight: normal;
    margin-top: 0rem;
    margin-left: 10px;
}

.details_scans {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 20px;
    gap: 20px;
}

.scan_results_table {
    flex: 1;
    box-sizing: border-box;
    margin-right: 10px;
    margin-top: 10px;
    min-width: calc(50% - 20px);
    max-width: calc(50% - 20px);
}

@media (max-width: 768px) {
    .scan_results_table {
        min-width: calc(100% - 20px);
        max-width: calc(100% - 20px);
    }
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border-radius: 10px;
    overflow: hidden;
}

table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    border: none;
}

th {
    background-color: #f2f2f2;
}

.records {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

tr:nth-child(odd) {
    background-color: #f9f9f9;
}

tr:nth-child(even) {
    background-color: #e5e5e5;
}

/* Footer styles */

.footer {
    background-color: #04AA6D;
    color: #fff;
    padding: 0.2rem 0;
    text-align: center;
}