{% extends 'shared/base.html' %}

{% block content %}
<a href="{{ url_for('scans') }}">&lt; Back to scans</a>

<div class="details_header">
    <div>
        <h1>Scan details for {{ targetscan.target }}</h1>
        <p class="date">{{ targetscan.last_update.strftime('%a %Y-%m-%d %H:%M:%S')}}</p>
    </div>
    <a class="cta" href="#">Generate PDF report</a>
</div>

<div class="details_scans">
    {% for scan in targetscan.scans %}
    <div class="scan_results_table">
        <h2>{{ scan.scan_type }}</h2>
        <table>
            <thead>
                <tr>
                    {% for header in scan.result.headers %}
                    <th>{{ header }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for row in scan.result.values %}
                <tr>
                    {% for value in row %}
                    <td>{{ value }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endfor %}
</div>
{% endblock %}